# Backend Configuration
MONGODB_URI=mongodb://mongodb:27017/
ONE_API_TOKEN=your_token_here
DATABASE_NAME=movie_search_db
COLLECTION_NAME=search_history

# Frontend Configuration
REACT_APP_API_URL=http://localhost:5000/api
